/**Scrollbar**/
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: var(--theme1-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 3vh;
  background: var(--theme3-100);
}

/**Root Variables**/
:root {

  --navbar-height-pc : 9vh;

  --footer-height-pc : 20vh;
  --footer-height-mob : 40vh;
  
  /**Color Theme**/
  --theme1-100: #8135f3;
  --theme1-alt1-100: #5f2aaf;
  --theme1-alt2-100: #9b58ff;
  --theme2-100: #d602ee;
  --theme3-100: #ec41a8;
  --theme4-100: #ee6002;
  --theme5-100: #90ee02;
  --theme6-100: rgb(252, 252, 252);
  --theme6-080: rgba(252, 252, 252, 0.80);
  --theme6-060: rgba(252, 252, 252, 0.60);
  --theme7-100: rgb(37, 37, 37);
  --theme7-080: rgba(37, 37, 37, 0.80);
  --theme7-060: rgba(37, 37, 37, 0.60);


  /**SNS Colors**/
  --fb-color1: #1877f2; 
  --insta-color1: #c32aa3; 
  --gmail-color1: #ea4335;
  --whatsapp-color1: #25D366;
  --github-color1 : #f5f5f5f5;
}

/**Apply For All**/
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /**Default Font Family**/
  scroll-behavior: smooth;
}

a.btn {
  text-decoration: none;
  color: white;
}