.error {
  margin-top: var(--navbar-height-pc);
  height: calc(100vh - var(--navbar-height-pc) - var(--footer-height-pc));
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-6-100);
  font-size: 5vh;
  text-align: center;
  flex-direction: column;
  background-color: var(--color-8-100);
}
