/*
  ! Navbar Height = --navbar-height-pc
  ! Footer Height = --footer-height-pc
*/

/**Adding Scroll Snap to Only Home Page**/
/* html, body {
  scroll-snap-type: y mandatory;
} */

div.home-sec {
  /**Position**/
  position: relative;

  /**Scroll Snap**/
  /*scroll-margin-top: var(--navbar-height-pc);
  scroll-snap-align: start; */

  /**Border**/
  box-sizing: border-box;

  /**Padding**/
  padding: 4vh 0;

  /**Content**/
  overflow: hidden;
}

/** Intro **/
/* !Keep the top section below navbar */
div#intro {
  /**Position**/
  position: relative;
  margin-top: var(--navbar-height-pc);

  /**Background**/
  background-color: var(--color-6-080);

  /**Flex Conatiner**/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--font1);

  /**Dimensions**/
  height: calc(100vh - var(--navbar-height-pc));
}

/**Intro Bg Pic**/
div#intro img.intro-bg-pic {
  position: absolute;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

/**Intro Logo**/
div#intro div.intro-logo {
  position: relative;
  height: 75%;
  width: 45%;
  overflow: hidden;
}

div.intro-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  height: 100%;
}

/**Intro Link (Down Arrow)**/
div#intro a.intro-down-link {
  /**Dimensions**/
  height: 7.5vh;
  aspect-ratio: 1/1;

  /**Flex Container**/
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  /**Content**/
  font-size: 3vh;
  color: var(--color-8-100);

  /**Border**/
  border-radius: 1vh;
  box-sizing: border-box;
  border: 0.7vh solid var(--color-8-100);
}

div#intro a.intro-down-link i {
  margin-top: 0.5vh;
}

div#intro a.intro-down-link:hover {
  background-color: var(--theme3-100);
  color: var(--theme6-100);
  transition-duration: 0.3s;
}

/**Intro SVGs**/
div.intro-img {
  position: absolute;
  height: 30vh;
}

div.intro-img img {
  height: 100%;
}

div#intro-img1 {
  bottom: 0%;
  left: 5%;
}

div#intro-img2 {
  top: 40%;
  right: 2.5%;
}

div#intro-img3 {
  top: 5%;
  left: 5%;
}

@media screen and (max-width: 1000px) {
  div#intro div.intro-logo {
    width: 70%;
  }

  div#intro div.intro-logo img {
    width: 100%;
  }

  div.intro-img {
    display: none;
  }

  div#intro a.intro-down-link {
    margin-top: 12vh;
  }
}

div.home-apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

div.home-apply img {
  width: 40%;
}

div.home-apply .apply-now {
  margin-top: 3vh;
  text-decoration: none;
  padding: 1vh 2vh;
  background-color: var(--color-6-100);
  border-radius: 0.75vh;
  font-size: 3vh;
  color: var(--color-2-100);
  text-align: center;
}

div.home-apply .apply-now:hover {
  background-color: var(--color-5-100);
  color: var(--color-1-100);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

@media screen and (max-width: 700px) {
  div.home-apply img {
    width: 80%;
  }

  div.home-apply .apply-now {
    margin-top: 3vh;
    padding: 3vw;
    border-radius: 0.75vw;
    font-size: 5vw;
  }
}
