.buttons {
  display: flex;
  width: 90%;
}

.buttons .apply-for {
  padding: 0 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.buttons .buttons-itm {
  margin: 1vh;
}

@media screen and (max-width: 1000px ) {
  .buttons {
    flex-direction: column;
  }
  
  .buttons .apply-for {
    padding: 0 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
  }
  
  .buttons .buttons-itm {
    margin: 1vw auto;
    text-align: center;
    width: 65%;
  }
}

table#apply-table td {
  color: black;
}