div.event {
  margin-top: var(--navbar-height-pc);
  min-height: calc(100vh - var(--navbar-height-pc) - var(--footer-height-pc));
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font2);
  color: var(--color-1-100);
}

div.event div.event-pic {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 40vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

div.event-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index: -10;
  min-height: 100%;
}

div.event div.event-title {
  color: var(--color-6-100);
  font-size: 5vh;
  text-align: center;
  margin: 5vh auto 2vh auto;
  width: 60%;
  border-bottom: 0.2vh solid var(--color-6-100);
}

div.event div.event-date {
  color: var(--color-6-100);
  font-size: 3.4vh;
  padding-left: 7.5vh;
  margin-top: 5vh;
  width: 100%;
  box-sizing: border-box;
}

div.event div.event-details {
  color: var(--color-8-100);
  font-size: 2.9vh;
  margin: 7vh auto 0 auto;
  width: 85%;
  text-align: justify;
  line-height: 4.5vh;
}

div.event a.event-apply-btn {
  position: relative;
  padding: 2vh 4vh;
  text-decoration: none;
  color: var(--color-6-100);
  background-color: var(--color-8-100);
  border-radius: 1.25vh;
}

div.event a.event-apply-btn:hover {
  transition-duration: 0.2s;
  color: var(--color-8-100);
  background-color: var(--color-6-100);
  /* box-shadow: 0.25vh 0.25vh 0.5vh 0 var(--color-8-100); */
}

div.event div.event-exec-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 7.5vh 0 5vh 0;
  width: 100%;
}

div.event-exec-board h3.event-exec-board-title {
  margin-top: 4vh;
  width: 85%;
  margin-bottom: 3vh;
  padding-left: 10vh;
  color: var(--color-6-100);
  font-weight: normal;
  padding: 4vh 0 4vh 10vh;
  font-size: 3.5vh;
  box-sizing: border-box;
  border-bottom: 0.2vh solid var(--color-6-100);
}

div.event div.event-exec-board img,
div.gallery-img-ctnr img {
  width: 20%;
  border-radius: 0.75vh;
  margin: 1vh;
}

div.event div.event-exec-board img:hover,
div.gallery-img-ctnr img:hover {
  box-shadow: 0.5vh 0.5vh 1vh var(--color-8-100);
  transition-duration: 0.2s;
}

div.gallery {
  margin-top: 4vh;
  width: 95%;
}

div.past-title,
div.gallery-title {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 5vh;
  color: var(--color-6-100);

  border-bottom: 0.2vh solid var(--color-6-100);
}

div.gallery-img-ctnr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  div.event {
    min-height: calc(
      100vh - var(--navbar-height-pc) - var(--footer-height-mob)
    );
    padding-bottom: 7vw;
  }

  div.event div.event-pic {
    height: 70vw;
  }

  div.event-pic img {
    max-height: 100%;
  }

  div.event div.event-title {
    font-size: 6vw;
    margin: 5vw auto 2vw auto;
    border-bottom: 0.2vw solid var(--color-6-100);
  }

  div.event div.event-date {
    font-size: 4vw;
    padding-left: 7.5vw;
    margin-top: 5vw;
  }

  div.event div.event-details {
    font-size: 4.2vw;
    margin: 7vw auto 0 auto;
    width: 90%;
    line-height: 7.5vw;
    margin-bottom: 10vw;
  }

  div.event a.event-apply-btn {
    padding: 2vw 4vw;
    border-radius: 1.25vw;
  }

  /* div.event a.event-apply-btn:hover {
    box-shadow: 0.5vw 0.5vw 0.5vw 0 var(--color-8-100);
  } */

  div.event div.event-exec-board {
    margin: 7.5vw 0 5vw 0;
    justify-content: space-evenly;
  }

  div.event-exec-board h3.event-exec-board-title {
    width: 100%;
    margin-bottom: 3vw;
    padding-left: 10vw;
    padding: 4vw 0 4vw 10vw;
    font-size: 4vw;
  }

  div.event div.event-exec-board img {
    width: 32%;
    border-radius: 0.75vw;
  }

  div.event div.event-exec-board img:hover {
    box-shadow: 0.5vw 0.5vw 1vw var(--color-8-100);
    transition-duration: 0.2s;
  }
}

.custom {
  position: relative;
  padding: 2vh 4vh;
  text-decoration: none;
  /* color: var(--color-8-100); */
  color: white;
  background-color: var(--color-6-100);
  border-radius: 1.25vh;
  border: none;
}
.custom:hover {
  transition-duration: 0.2s;
  color: var(--color-6-100);
  background-color: var(--color-8-100);
}
