/* ! Footer Height = --footer-height-pc */

/*
! Grid Area For PC :
* Logo Location Phone SNS-Links
* *
! Grid Area for Mobile :
* <---(4)------Logo---------->
* <--Location--(3)-->  SNS-
* <----Phone--(3)--->  Links(1)
*/

div#footer {
  /**Position**/
  position: relative;

  /**Dimensions**/
  height: var(--footer-height-pc);

  /**Background**/
  background-color: var(--color-8-100);

  /**CSS Grid Container**/
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  box-shadow: 0 0 0.5vh 0 var(--color-8-100);

  font-family: var(--font1);
}

div#footer div.footer-logo {
  /**Grid Item**/
  justify-self: center;
  align-self: center;

  /**Dimensions**/
  width: 60%;

  /**Content**/
  overflow: hidden;
}

div.footer-logo img {
  transform: translate(0, 10%);
  width: 100%;
}

/**Footer Item**/
div#footer div.footer-itm {
  /**Grid Item**/
  justify-self: center;
  align-self: center;

  /**Flex Container**/
  display: flex;
  flex-direction: row;

  font-size: 2vh;
}

div.footer-itm div.itm-icon {
  font-size: 5vh;
  color: var(--color-6-100);
  margin-right: 3vh;
}

div.footer-itm div.itm-text {
  color: var(--color-1-100);
}

@media screen and (max-width: 1000px) {
  div#footer {
    height: var(--footer-height-mob);
  }

  div#footer div.footer-logo {
    grid-column: 1 / span 4;
    color: var(--color-1-100);
    font-size: 6vw;
    text-align: center;
  }

  div#footer div.footer-location {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
  }

  div#footer div.footer-call {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

  div#footer div.footer-sns {
    grid-column: 4 / span 1;
    grid-row: 2 / span 2;
  }

  div#footer div.footer-itm {
    font-size: 4vw;
  }
}

/**Footer MUN Location**/
span.nits {
  color: var(--color-2-100);
}

span.assam {
  color: var(--color-4-100);
}

@media screen and (max-width: 1000px) {
  div.footer-location,
  div.footer-call {
    justify-self: start !important;
    padding-left: 12vw;
  }
}

/**SNS Icons**/
div#footer div.footer-sns {
  /**Position**/
  position: relative;

  /**Flex Container**/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

div.footer-sns div.sns-itm {
  /**Dimensions**/
  height: 7.5vh;
  aspect-ratio: 1/1;

  /**Background**/
  background-color: var(--color-6-100);

  /**Content**/
  font-size: 4vh;

  /**Margin**/
  margin-right: 1.5vh;

  /**Border**/
  border-radius: 1vh;
  box-sizing: border-box;
  border: 0.1vh solid var(---color-8-100);

  cursor: pointer;
}

div.sns-itm a.sns-link {
  /**Dimensions**/
  height: 100%;
  width: 100%;

  /**Content**/
  text-decoration: none;
  color: var(--color-8-100);

  /***Flex Container*/
  display: flex;
  justify-content: center;
  align-items: center;
}

div.footer-sns div.sns-itm:hover {
  background-color: var(--color-8-100);
  transition: 0.3s;
}

div#sns-fb a:hover {
  color: var(--fb-color1);
}

div#sns-insta a:hover {
  color: var(--insta-color1);
}

div#sns-gmail a:hover {
  color: var(--gmail-color1);
}

div#sns-lin a:hover {
  color: var(--lin-color1);
}

@media screen and (max-width: 1000px) {
  div#footer div.footer-sns {
    flex-direction: column;
  }

  div.footer-sns div.sns-itm {
    height: 10vw;
    aspect-ratio: 1/1;
    margin-bottom: 3vw;
    font-size: 6vw;
  }
}
