.r{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}
.r img{
    width: 350px;
    margin: 10px 10px;
}

@media screen and (max-width:600px) {
    .r img{
        margin: 10px auto;
        width: 90%;
    }
}