div#navbar {
  /**Position**/
  position: fixed;
  top: 0;
  left: 0;

  /**Dimensions**/
  width: 100%;
  height: var(--navbar-height-pc);
  z-index: +10;

  /**Background**/
  background-color: var(--color-8-100);

  /**Flex Container**/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  /**Border**/
  box-shadow: 0 0 2vh 0 var(--color-8-100);

  /**Content**/
  font-family: var(--font1);
}

@media screen and (min-width: 1000px) {
  div#navbar div.navbar-logo {
    height: 80%;
    margin-left: 3vw;
  }

  div.navbar-logo img {
    height: 100%;
  }

  div.navbar-menu {
    display: none;
  }

  div.navbar-items {
    margin-left: auto;
    margin-right: 2vw;

    font-size: 2.1vh;
  }

  .navbar-link {
    margin-right: 1.5vh;
    padding: 1.75vh 4vh;
    border-radius: 0.3vh;

    text-decoration: none;
    color: var(--theme2-100);
  }

  .navbar-link:hover,
  .navbar-link:focus {
    background-color: var(--color-1-100);
    transition-duration: 0.2s;
    color: var(--color-8-100);
  }

  .dropdown-link {
    position: relative;
    cursor: pointer;
  }

  div.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--color-8-100);

    display: none;
    flex-direction: column;
    border-radius: 1vh;

    border: 0.2vh solid var(--color-1-100);
    border-top: 0 solid var(--color-1-100);
  }

  span.dropdown-link:hover div.dropdown-menu,
  span.dropdown-link:focus div.dropdown-menu {
    display: flex !important;
  }

  a.dropdown-itm {
    padding: 3vh 5vh;
    margin: 1vh 1vh;

    white-space: nowrap;
    text-decoration: none;
    color: var(--color-1-100);

    background-color: var(--color-8-100);
    border-radius: 1vh;
  }

  a.dropdown-itm:hover {
    color: var(--color-8-100);
    transition-duration: 0.2s;
    background-color: var(--color-1-100);
  }
}

@media screen and (max-width: 1000px) {
  div#navbar div.navbar-logo {
    /**Position**/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /**Dimensions**/
    width: 100%;
    height: 75%;

    /**Content**/
    overflow: hidden;
  }

  div#navbar div.navbar-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
  }

  div.navbar-menu {
    /**Position**/
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);

    /**Dimensions**/
    height: 60%;
    aspect-ratio: 1/1;
  }

  div.navbar-menu div.menu-icon {
    /**Position**/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /**Content**/
    font-size: 6.5vw;
    color: var(--theme2-100);

    height: 6.5vw;
    line-height: 3.5vh;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#menu-open {
    display: block;
  }

  div#menu-close {
    display: none;
  }

  div.navbar-items {
    /**Position**/
    position: absolute;
    top: var(--navbar-height-pc);
    left: 50%;
    transform: translate(-50%, 0);
    z-index: +10;

    /**Background**/
    background-color: var(--color-8-100);

    /**Dimensions**/
    height: calc(100vh - var(--navbar-height-pc));
    width: 100%;

    /**Flex Container**/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
  }

  div.navbar-items .navbar-link {
    /**Position**/
    margin-bottom: 2vw;

    /**Dimensions**/
    width: 75%;

    /**Content**/
    padding: 4vw 0;
    font-size: 5vw;
    text-align: center;
    text-decoration: none;
    color: var(--color-1-100);

    /**Border**/
    box-sizing: border-box;
    border: 0.6vw solid var(--color-6-100);
    border-radius: 0.5vw;
  }

  .dropdown-link {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  div.dropdown-menu {
    position: relative;
    background-color: var(--theme6-100);

    display: flex;
    flex-direction: column;

    margin-top: 4vw;
    border: 0.4vw solid var(--theme4-100);
    border-top: 0.4vw solid var(--theme4-100);
    padding-bottom: 2vw;
  }

  .dropdown-link:hover div.dropdown-menu,
  .dropdown-link:focus div.dropdown-menu {
    display: flex;
  }

  a.dropdown-itm {
    width: 95%;
    padding: 3.5vw 0;

    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: var(--theme2-100);
    font-size: 3vw;

    margin: 2vw auto 0 auto;
    box-sizing: border-box;
    border-radius: 1vw;
    border: 0.1vw solid var(--theme4-100);
  }
}
