div.reports {
  width: 90%;
  margin: 5vh auto 2vh auto;
  text-align: justify;
}

div.reports div.heading {
  font-size: 5vh;
  text-align: center;
}

div.tab-names {
  display: flex;
  border-bottom: 0.2vh solid var(--theme4-100);
}

div.tab-names div {
  margin: 1vh;
  margin-bottom: 0;
  padding: 1.5vh 4vh;
  border-radius: 1vh 1vh 0 0;
  cursor: pointer;
  text-transform: uppercase;
}

div.tab-names div.active-name {
  background-color: var(--theme4-100);
  border: 0.2vh solid var(--theme1-100);
  border-bottom: 0 solid var(--theme1-100);
  color: var(--theme2-100);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

div.tab-content-container {
  margin: 5vh auto;
  width: 95%;
}

div.tab-content-container div {
  display: none;
  font-size: 2.8vh;
}

div.tab-content-container div.active-content {
  display: block;
}

@media screen and (max-width: 500px) {
  div.reports {
    width: 90%;
    margin: 5vw auto 2vw auto;
  }

  div.reports div.heading {
    font-size: 7vw;
  }

  div.tab-names {
    border-bottom: 0.2vw solid var(--theme4-100);
  }

  div.tab-names div {
    margin: 1vw;
    margin-bottom: 0;
    padding: 1.5vw 4vw;
    border-radius: 1vw 1vw 0 0;
    font-size: 3.5vw;
    cursor: pointer;
    text-transform: uppercase;
  }

  div.tab-names div.active-name {
    background-color: var(--theme4-100);
    border: 0.2vh solid var(--theme1-100);
    border-bottom: 0 solid var(--theme1-100);
    color: var(--theme2-100);
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }

  div.tab-content-container {
    margin: 5vh auto;
    width: 95%;
  }

  div.tab-content-container div {
    display: none;
    font-size: 4vw;
  }

  div.tab-content-container div.active-content {
    display: block;
  }
}
