.update .heading{
    display: none;
}
.update p{
    text-align: justify;
}
.dias{
    margin: 0 3rem;
    justify-content: center;
}
.sponser{
    justify-content: center;
}
.author{
    margin:0 0.5rem !important;
}
@media only screen and (max-width: 600px) {
    .update .heading{
        display: block;
    }
    .update p{
        text-align: justify;
    }
    .update .separator{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .sponser{
        flex-direction: column;
    }
    .dias{
        margin: 1rem 0;
        justify-content: left !important;
    }
    .sponser{
        padding: 0 40px;
    }
    .author{
        margin: 1rem 0 !important;
    }
    .author h3{
        font-size: 1.2rem;
    }
    .author p{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 320px) {
    .sponser{
        padding: 0;
    }
}