/*
  ! Navbar Height = --navbar-height-pc
  ! Footer Height = --footer-height-pc
*/

/**Adding Scroll Snap to Only Home Page*/
html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

div.home-sec {
  position: relative;
  padding: 2vh;

  /**Dimensions**/
  height: calc(100vh - var(--navbar-height-pc));

  /**Scroll Snap**/
  scroll-margin-top: var(--navbar-height-pc);
  scroll-snap-align: start;

  box-sizing: border-box;
}

/* !Keep the top section below navbar */
div#intro {
  margin-top: var(--navbar-height-pc);
}

div#apply {
  background-color: var(--theme3-100);
}