/*
  ! Navbar Height = --navbar-height-pc
  ! Footer Height = --footer-height-pc
*/

/**Adding Scroll Snap to Only Home Page*/
html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

div.home-sec {
  /**Position**/
  position: relative;

  /**Dimensions**/
  height: calc(100vh - var(--navbar-height-pc));

  /**Scroll Snap**/
  scroll-margin-top: var(--navbar-height-pc);
  scroll-snap-align: start;

  /**Border**/
  box-sizing: border-box;
  
  /**Padding**/
  padding: 4vh 0;
}

/** Intro **/
/* !Keep the top section below navbar */
div#intro {
  margin-top: var(--navbar-height-pc);
}

/** Apply **/
div#apply {
  /**Background**/
  background-color: var(--theme6-100);

  /**Flex Container**/
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

a.apply-btn {
  /**Position**/
  position: relative;
  margin-bottom: 3vh;
  
  /**Background**/
  background-color: var(--theme4-100);
  
  /**Border**/
  box-sizing: border-box;
  border: 0.1vh solid var(--theme1-100);
  border-radius: 1vh;
  
  /**Content**/
  padding: 2vh 5vh;
  font-size: 2.75vh;
}

a.apply-btn:hover {
  /**Background**/
  background-color: var(--theme1-100);
  
  /**Content**/
  font-weight: bold;
  color: var(--theme2-100);
  
  /**Transition**/
  transition-duration: 0.3s;
}

@media screen and (max-width: 1000px) {
  a.apply-btn {
    padding: 3vw 7vw;
    font-size: 3.5vw;
  }
}