div.sctrt {
  position: relative;
  margin-top: var(--navbar-height-pc);
  min-height: calc(100vh - var(--navbar-height-pc));
  width: 100%;
  padding: 1.5vh 0;
}

.card-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
}

.card-container .card-container-title {
  position: relative;
  margin: 1vh auto;
  font-size: 5vh;
  color: var(--color2-100);
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .mmbr-card {
  position: relative;
  width: 26%;
  aspect-ratio: 3/4;
  background-color: var(--color1-100);
  margin: 1vh;

  color: var(--color2-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1vh;
}

.card-container .mmbr-card:hover {
  box-shadow: 0 0 1.5vh 0 grey;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.mmbr-card .mmbr-pic {
  position: relative;
  height: 45%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 1vh;
}

.mmbr-card .mmbr-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.mmbr-name {
  margin-top: 3vh;
  font-size: 3.75vh;
  color: var(--color5-100);
}

.mmbr-position {
  margin-top: 1.5vh;
  font-size: 2.9vh;
  color: var(--color3-100);
}

.mmbr-wing {
  margin-top: 0.5vh;
  font-size: 2.5vh;
  color: var(--color3-070);
}

.mmbr-wing {
  margin-top: 0.2vh;
  font-size: 2.5vh;
  color: var(--color3-070);
}

.mmbr-sns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-top: 3vh;
}

.mmbr-sns .mmbr-sns-itm{
  height: 5.5vh;
  aspect-ratio: 1/1;
}

.mmbr-sns-itm a {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;

  text-decoration: none;
  
  color: var(--color1-100);

  background-color: var(--color3-070);

  box-sizing: border-box;
  border-radius: 0.5vh;
  transition-duration: 0.3s;
}

.mmbr-sns-itm a:hover {
  background-color: var(--color1-100);
}

a.fb:hover {color: var(--fb-color1);}
a.insta:hover {color: var(--insta-color1);}
a.mail:hover {color: var(--gmail-color1);}
a.whatsapp:hover {color: var(--whatsapp-color1);}
a.github:hover {color: var(--github-color1);}