div.sctrt {
  position: relative;
  margin-top: var(--navbar-height-pc);
  min-height: calc(100vh - var(--navbar-height-pc));
  width: 100%;
  padding: 1.5vh 0;
  background-color: var(--theme1-100);
}

.card-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1vh 0;
}

.card-container .card-container-title {
  position: relative;
  margin: 1vh auto 5vh auto;
  font-size: 5vh;
  color: var(--theme6-100);
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .mmbr-card {
  position: relative;
  width: 17.5%;
  aspect-ratio: 3/4;
  margin: 1vh;

  background-color: var(--theme1-100);

  color: var(--theme7-100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1vh;
  border: 0.1vh solid var(--theme7-100);
  box-shadow: 0.5vh 0.5vh 1vh 0.1vh var(--theme1-alt1-100), -0.5vh -0.5vh 1vh 0.1vh var(--theme1-alt2-100);
  padding: 2vh 1vh;

  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.mmbr-card .mmbr-pic {
  position: relative;
  height: 45%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 0.6vh;
}

.mmbr-card .mmbr-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.mmbr-name {
  margin-top: 2vh;
  font-size: 3.2vh;
  color: var(--theme7-100);
}

.mmbr-position {
  margin-top: 1.5vh;
  font-size: 2.7vh;
  color: var(--theme7-080);
}

.mmbr-wing {
  margin-top: 0.5vh;
  font-size: 2.3vh;
  color: var(--theme7-080);
}

.mmbr-batch {
  margin-top: 0.5vh;
  font-size: 2.3vh;
  color: var(--theme7-080);
}

.mmbr-sns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-top: 3vh;
}

.mmbr-sns .mmbr-sns-itm{
  height: 5.5vh;
  aspect-ratio: 1/1;
}

.mmbr-sns-itm a {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;

  text-decoration: none;
  
  color: var(--theme7-100);

  box-sizing: border-box;
  border-radius: 0.5vh;
  transition-duration: 0.3s;
}

.mmbr-sns-itm a:hover {
  background-color: var(--theme7-100);
}

.card-container .mmbr-card:hover {
  background-color: var(--theme7-100);
}

.card-container .mmbr-card:hover .mmbr-name {
  color: var(--theme6-100);
}

.card-container .mmbr-card:hover .mmbr-position,
.card-container .mmbr-card:hover .mmbr-wing,
.card-container .mmbr-card:hover .mmbr-batch {
  color: var(--theme6-080);
}

.card-container .mmbr-card:hover .mmbr-sns-itm a {
  color: var(--theme6-080);
}

a.fb:hover {color: var(--fb-color1) !important;}
a.insta:hover {color: var(--insta-color1) !important;}
a.mail:hover {color: var(--gmail-color1) !important;}
a.whatsapp:hover {color: var(--whatsapp-color1) !important;}
a.github:hover {color: var(--github-color1) !important;}