/**Scrollbar**/
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: var(--theme1-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 3vh;
  background: var(--theme4-100);
}

/**Root Variables**/
:root {
  --navbar-height-pc: 9vh;

  --footer-height-pc: 20vh;
  --footer-height-mob: 40vh;

  --theme1-100: #2c2f33;
  --theme2-100: #f8f8f8;
  --theme2-080: rgba(248, 248, 248, 0.8);
  --theme3-100: #2a2d32;
  --theme4-100: #8135f3;
  --theme4-080: rgba(129, 53, 243, 0.8);
  --theme4-070: rgba(129, 53, 243, 0.7);
  --theme4-060: rgba(129, 53, 243, 0.6);
  --theme5-100: #44484e;
  --theme6-100: #3c3f44;

  --color-1-100: #f1f1f1;
  --color-2-100: #c9d1d7;
  --color-3-100: #b1b8c1;
  --color-4-100: #98a2ad;
  --color-5-100: #7eb7c9;
  --color-6-100: #1994a5;
  --color-6-080: rgba(25, 149, 165, 0.8);
  --color-7-100: #4a5e72;
  --color-8-100: #2c344b;

  /**SNS Colors**/
  --lin-color1: #2867b2;
  --fb-color1: #1877f2;
  --insta-color1: #c32aa3;
  --gmail-color1: #ea4335;
  --whatsapp-color1: #25d366;
  --github-color1: #f5f5f5f5;
}

/**Apply For All**/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--theme2-100);
}

a.btn {
  text-decoration: none;
  color: white;
}

span.bold {
  color: var(--theme4-100) !important;
  font-weight: bolder;
}
