/**Scrollbar**/
::-webkit-scrollbar {
  width: 1vh;
}

::-webkit-scrollbar-track {
  background: var(--color-8-100);
}

::-webkit-scrollbar-thumb {
  border-radius: 3vh;
  background: var(--color-6-100);
}

/**Root Variables**/
:root {
  --navbar-height-pc: 9vh;

  --footer-height-pc: 20vh;
  --footer-height-mob: 40vh;

  --color-1-100: #f1f1f1;
  --color-1-080: rgba(241, 241, 241, 0.8);
  --color-2-100: #c9d1d7;
  --color-3-100: #b1b8c1;
  --color-4-100: #98a2ad;
  --color-5-100: #7eb7c9;
  --color-6-100: #1994a5;
  --color-6-080: rgba(25, 149, 165, 0.8);
  --color-6-070: rgba(25, 149, 165, 0.7);
  --color-6-060: rgba(25, 149, 165, 0.6);
  --color-7-100: #4a5e72;
  /* --color-8-100: #2c344b; */
  --color-8-100: #161c2f;

  /**SNS Colors**/
  --lin-color1: #2867b2;
  --fb-color1: #1877f2;
  --insta-color1: #c32aa3;
  --gmail-color1: #ea4335;
  --whatsapp-color1: #25d366;
  --github-color1: #f5f5f5f5;
}

/**Apply For All**/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1-100);
}

a.btn {
  text-decoration: none;
  color: white;
}

span.bold {
  color: var(--color-6-100) !important;
  font-weight: bolder;
}
